# --- Java Compilado ---
*.class
*.jar
*.war
*.ear

# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties

# --- Gradle ---
.gradle/
build/

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws

# --- Eclipse ---
.metadata/
.classpath
.project
.settings/
*.launch

# --- Archivos del Sistema y Logs ---
*.log
.DS_Store
Thumbs.db